.edit-card {
    display: flex;
    align-items: start;
    flex-direction: column;
    background: rgba(217, 217, 217, 0.3);
    border: 3px solid rgba(0, 0, 0, 0.44);
    border-radius: 16px;
    margin-bottom: 10px;
  }
  
  .edit-title {
    margin: 10px;
  }
  
  .edit-body {
    display: inline-flex;
    align-content: center;
    align-items: center;
    align-self: center;
    margin-bottom: 20px;
  }
  
  .time-input {
    display: inline-flex;
    align-items: center;
    background: #d9d9d9;
    border-radius: 16px;
    width: 120px;
    height: 120px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
  
    text-align: center;
    color: #000000;
    margin-left: 5px;
  }
  
  .edit-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
  }
  
  #time-input-number {
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 36px;
    flex:2;
    margin-left: 10px;
  }
  
  .svg-btn{
    /* background-color: aqua; */
  }
  
  #svg-btn-minus{
    margin-left: 10px;
  }