.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 10px;
  background-color: #ffffff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-title {
  font-size: 28px;
}

.App-link {
  color: #61dafb;
}

.box {
  position: relative;
  border: 1px solid #222222;
  border-radius: 8px;
  width:45%;
}

.box select {
  background-color: white;
  border-radius: 8px;
  color: black;
  padding: 5px;
  width: 100%;
  border: none;
  font-size: 13px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  margin-right:5px;
}

.box::before {
  content: "▼";
  position: absolute;
  top: -2px;
  right: 0;
  left: 47%;
  width:100px;
  height: 80%;
  text-align: center;
  font-size: 18px;
  line-height: 35px;
  color: black;
  pointer-events: none;
}

.box:hover::before {
  cursor: pointer;
  color: rgb(13, 248, 115);
  background-color: rgba(255, 255, 255, 0.2);
  
}

.box select option {
  padding: 30px;
}

.priority-wrapper{
  display:inline-flex;

}

.priority-wrapper > *{
  margin: auto 2px;
}
